
.unItem{

  display: flex;
  flex-direction: column;
  align-items: center;

}

.groupe-produits {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  a:hover article, .groupe-produits a:hover h4 {
    background-color: $red;
    color: $white;
  }
}

.groupe-produits article {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 800px;
  background-color: $white;
  padding: 15px;
  margin: 15px 0;

  .auteur{

    display: flex;

  }

  p {

    line-height: 24px;
    margin: 5px 0;

  }

  .info {

    display: flex;
    align-items: flex-start;
    margin: 0;

    p{

      margin-right: 5px;

    }

  }

  .image {

    margin-bottom: 15px;

  }

  article h4 {
    color: $red;

  }

  h4 {
    font-size: rem(32);

    top: 8px;

    margin: 5px 0;
  }

  .vPlus {

    margin-left: auto;
    margin-top: auto;

    &:hover {

      text-decoration: underline;

    }

  }

}