.banniere {

  min-height: 300px;

  width: 100%;

  .flex-banniere {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 600px;

    .groupe-banniere {
      display: flex;
      flex-direction: column;

      width: 600px;
      max-height: 600px;

      padding: 30px;
      color: $white;
      background-color: rgba(226, 82, 84, 0.9);

    }
  }
}

@media screen and (max-width: $breakpoint-sm) {

  .banniere {

    .flex-banniere {

      display: flex;
      justify-content: center;

    }

  }

}

@media screen and (min-width: $breakpoint-md) {

  .banniere {
    background: url('../images/des-384.jpg') fixed center/cover no-repeat;

  }

  @media screen and (min-resolution: 192dpi) {
    .banniere {

      background: url('../images/des-768.jpg') fixed center/cover no-repeat;

    }

  }

}

@media screen and (min-width: $breakpoint-lg) {

  .banniere {
    background: url('../images/des-496.jpg') fixed center/cover no-repeat;

  }

  @media screen and (min-resolution: 192dpi) {
    .banniere {

      background: url('../images/des-992.jpg') fixed center/cover no-repeat;

    }

  }

}

@media screen and (min-width: $breakpoint-xl) {

  .banniere {
    background: url('../images/des-1527.jpg') fixed center/cover no-repeat;

  }

  @media screen and (min-resolution: 192dpi) {
    .banniere {

      background: url('../images/des-3054.jpg') fixed center/cover no-repeat;

    }

  }

}