
footer{
  background-color: $gray-500;

  position: fixed;

  bottom: 0;
  left: 0;
  right: 0;

  .flex-footer{



    height: 40px;

    padding: 20px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    i{

      cursor: pointer;

      &:hover{

        color: $color-bg-page;

      }

    }

  }
}
