.fix {

  background-color: $color-bg-page;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  .principale {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 12px;
    padding-left: 12px;

    h1{

      margin: 0;

      a:hover{

        color: $gray-700;

      }

    }

    .nav-principale {

      .show-menu {
        display: none;
        color: $gray-900;
        background-color: $color-bg-page;
        padding: 10px 0;
        text-align: center;
        cursor: pointer;
      }

      .toggle-menu {
        display: none;
      }

      .toggle-menu:checked + ul {
        display: block;
      }

      ul {

        display: flex;

        list-style: none;

        padding: 0;

        li {

          position: relative;

          & > ul {

            display: none;

            background-color: $gray-300;

          }

          &:hover > ul {

            display: block;

            position: absolute;

            min-width: 100%;

            text-align: center;

          }

        }

        a {

          display: block;

          color: $red;

          padding: 15px 30px;

          &:hover {
            background-color: $gray-400;
          }

        }

      }

    }

  }
}

@media screen and (max-width: $breakpoint-sm) {

  .fix {

    position: static;

    .principale {
      display: block;
      padding-left: 0;
      div {
        text-align: center;
      }
      .nav-principale {
        .show-menu {
          display: block;
          background-color: $gray-400;
        }
        ul {
          display: none;
          text-align: center;
          margin: 0;

          li {

            &:hover > ul {
            position: static;
          }

          }
        }
      }
    }
  }
  .produits {

    header {

      text-align: center;

    }

    .groupe-produits {

      justify-content: center;

    }
  }
}