// STYLE DE BASE SUR LA BALISE BODY

body{

  margin-top: 110px;
  margin-bottom: 45px;

  background-color: $color-bg-page;

  font-family: $ff-normal;
  color: $gray-700;
  font-size: rem(18);

}

@media screen and (max-width: $breakpoint-sm) {

  body{

    margin-top: 0;

  }

}

